.mw-900px {
    width: 900px;
    margin: auto;
    padding-left: 2rem;
    padding-right: 2rem;
}
.headPhoto {
    width: 150px;
    height: auto;
    margin-left: 20px;
}
.projectPhoto {
    width: 200px;
    height: auto;
}
.w-150px {
    width: 160px;
}
.blockquote {
    font-size: 1.25em;
    margin: 1em 0;
    padding-left: 1em;
    border-left: 3px solid rgb(55, 53, 47);
}
.lineGap-05 {
    margin-bottom: 0.5rem;
}
