* {
    font-size: 1.1rem;
}
p {
    margin: 0.2rem 0;
}
hr {
    margin: 0.5rem 0;
}
.mw-900px {
    width: 900px;
    margin: auto;
    padding-left: 2rem;
    padding-right: 2rem;
}
.headPhoto {
    width: 150px;
    height: auto;
    margin-left: 20px;
}
.photoFram {
    height: 160px; /*can be anything*/
    width: 160px; /*can be anything*/
    position: relative;
}
.projectPhoto {
    max-height: 80%;
    max-width: 80%;
    width: auto;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.w-150px {
    width: 160px;
}
.blockquote {
    font-size: 1em;
    margin: 0.3em 0;
    padding-left: 1em;
    border-left: 3px solid rgb(55, 53, 47);
}
.lineGap-05 {
    margin-bottom: 0.5rem;
}

u {
    font-weight: bold;
}
.indentLine {
    text-indent: 2rem;
}
